.notification-message-container {
  width: 100%;
  height: 3.5rem;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-around;
  text-align: center;
  vertical-align: middle;
  line-height: 3.5rem;
  margin-top: -2rem;
  margin-bottom: 2rem;
  border: 1px solid #000000;
}

.error {
  background: #ed0404;
  color: #ffffff;
}

.success {
  background: #60c655;
  color: #ffffff;
}

.warning {
  background: #f4b729;
  color: #000000;
}