.meeting-container {
  margin: 2rem 20rem;
}

.meeting-create-container {
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
}

.meeting-input {
  height: 3rem;
  width: 53rem;
  font-size: 1.5rem;
}

.meeting-table-body tr:hover {
  background-color: #f2f2f2;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.meeting-button {
  padding: 0 1rem;
}