.meeting-container {
  width: 65rem;
  margin: 0 auto;
}

.meeting-create-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.meeting-input {
  height: 3rem;
  width: 53rem;
  font-size: 1.5rem;
}

.meeting-button {
  padding: 0 1rem;
}