.meeting-container {
  margin: 2rem 20rem;
}

.meeting-create-container {
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
}

.meeting-input {
  height: 3rem;
  width: 53rem;
  font-size: 1.5rem;
}

.meeting-button {
  padding: 0 1rem;
}