.practices {
  width: 65rem;
  margin: 0 auto;
}

.practices__heading {
  font-size: 1.4rem;
  padding: 1rem 0.5rem;
  background: #dcd0c0;
}

.description {
  background: #fff;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.2rem;
  border-bottom: 1px solid #ccc;
}

.description:hover {
  background-color: #f9f9f9;
  transition: background-color 0.5s ease;
}

.description__btn {
  width: min-content;
  transform: scale(2);
  margin: 0 1rem;
}

.description__label {
  margin-right: 1rem;
}