
.retro-points-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.retro-point {
  margin: 2rem;
  width: 25rem;
  border: 1px solid #999;
}

.retro-point-description {
    padding: 2rem;
}

.retro-point-votes {
    float: right;
    padding: 0.5rem;
}

.retro-point-vote-text {
    padding: 0.5rem;
    color: blue;
    float: right;
    cursor: pointer;
}
