.retro-container {
    margin: 1rem 18rem;
}

.create-retro-container {
    position: fixed;
    border: 1px solid #ccc;
    margin: 3% 9%;
}

.retro-button-container {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 2rem;
}

.retro-row {
  cursor: pointer;
}

.retro-table-body tr:hover {
  background-color: #eff5ff;
  transition: background-color 0.5s ease;
}

.retro-creation-input {
  height: 2.8rem;
  width: 100%;
  font-size: 1.5rem;
  margin: 3rem 0;
}

.retro-button {
    padding: 1rem 2rem;
    margin: 2rem 0;
    float: right;
    color: white;

    cursor: pointer;
}

.create-retro-button {
    float: right;
    color: white;

    cursor: pointer;
    padding: 0.8rem 0.8rem;
    margin: 3rem 2rem;
    width: 9rem;
}

.create-retro-buttons-container {
    margin: 1rem 11rem;
}

.maximum-vote-count {
  height: 2.8rem;
  margin: 3rem 19rem;
  width: 5rem;
}