
.retro-points-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.retro-action-item-container {
  width: 100%;
}

.retro-point {
  margin: 1rem;
  width: 25rem;
  border: 1px solid #999;
}

.action-item {
  margin: 1rem;
  width: 25rem;
  border: 1px solid #999;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.retro-point-description {
  padding: 0.5rem;
}

.retro-point-votes {
  padding: 0.5rem;
}

.action-item-assigned {
  padding: 0.5rem;
}

.retro-point-vote-text {
  padding: 0.5rem;
  color: blue;
  cursor: pointer;
}

.action-item-text {
  padding: 0.5rem;
  color: blue;
}

.retro-point-category {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.retro-point-header {
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
}

.action-item-header {
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
}

.horizontal-line {
  width: 100%;
  margin-bottom: 2rem;
  color: #ccc;
}

.retro-point-section {
  font-size: 1.5rem;
  margin: 2rem 0 0 1rem;
}

.add-retro-point {
  padding: 0.3rem 1rem;
  color: white;

  cursor: pointer;
  margin: 1rem 0 0 0;
}

.retro-point-header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.change-status-button {
  padding: 0.8rem 2rem;
  margin-left: 1rem;
}