.team-fund-add-redeem-container {
  position: fixed;
  margin: 3% 20%;
  border: 1px solid #000;
}

.add-redeem-ream-fund-select {
  margin: 10% 10%;
}

.add-redeem-input-amount {
  width: 14rem;
  margin: 10%;
}

.team-fund-amount-container {
  margin: 0% 16%;
}

.team-fund-submit-button {
  margin: 5% 15%;
}