.team-fund-popup-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.team-fund-add-redeem-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  border: 1px solid #000;
  width: 30rem;
  height: 25rem;
  background-color: #ffffff;
  top: 15rem;
  left: 37rem;
  padding: 5rem 3rem 0 3rem;
}

.add-redeem-team-fund-select {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 5rem;
}

.add-redeem-input-amount {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 5rem;
}

.team-fund-amount-container {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 5rem;

}

.team-fund-submit-button {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 5rem;
}

.team-fund-amount {
  width: 10rem;
}

.team-fund-button {
  padding: 1rem 2rem;
  margin: 2rem 0;
  float: right;
  color: white;

  cursor: pointer;
}