.team-fund-add-redeem-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin: 3% 20%;
  border: 1px solid #000;
  width: 30rem;
  height: 25rem;
}

.add-redeem-team-fund-select {
  display: flex;
  justify-content: space-evenly;
  padding: 1.5rem 5rem;
}

.add-redeem-input-amount {
  display: flex;
  justify-content: space-evenly;
  padding: 1.5rem 5rem;
}

.team-fund-amount-container {
  display: flex;
  justify-content: space-evenly;
  padding: 1.5rem 5rem;

}

.team-fund-submit-button {
  display: flex;
  justify-content: space-evenly;
  padding: 1.5rem 5rem;
}

.team-fund-amount {
  width: 10rem;
}

.team-fund-button {
  padding: 1rem 2rem;
  margin: 2rem 0;
  float: right;
  color: white;

  cursor: pointer;
}