
.task-result-container {
  margin: 2% 20%;
}

.task-create-container {
  display: flex;
  justify-content: space-between
}

.task-button {
  padding: 0.75rem;
}

.task-input-description {
  width: 90%;
  padding: 0.5rem;
  height: 2rem;
  margin-right: 2rem;
}

.team-fund-table-id {
  margin: 4% 0%;
}

.task-state-radio-button {
  width: 3rem;
}

.all-task-button-container {
  display: flex;
  justify-content: flex-end;
  margin: 4% 0%;
}