.input-field-for-question {
}

form {
  text-align: center;
}

p {
 padding: 1rem;
 display: flex;
}

label{
  width: 20rem;
}

input {
  width: 45rem;
  border-radius: 0px;
  border: 1px solid rgb(180, 180, 180);
  height: 1.5rem;
}

textarea {
  border: 1px solid rgb(180, 180, 180);
  width: 45rem;
  height: 20rem;
  word-wrap: break-word;
}

select {
    padding: 0.3rem 1.5rem;
}

.ask-question-submit-button {
      border-radius: 0.25rem;
      border: 1px solid #28a745;
      background-color: #28a745;
      padding: 0.8rem;
      margin: 5rem;
      color: white;
      background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
}
