.input-field-for-question {
    margin-top: 5rem;
}

form {
}

p {
 padding: 1rem;
 display: flex;
}

label{
  width: 20rem;
}

input {
  width: 45rem;
}

textarea {
  width: 45rem;
  height: 20rem;
  padding: 0.3rem;
}

select {
}

.ask-question-submit-button {
  padding: 2rem 10rem;
}
