.question-answer-wrapper {
  width: 50%;
  display: table;
  margin: 2rem auto;
}


.question-answer-header {
  background: #F7F7F7;
}

.table-border {
  border: 1px solid #bbb;
  padding: 0.5rem 1rem;
  text-align: left;
  font-weight: 100;
}

.edit-button {
  float: right;
  cursor: pointer;
}

.description-textarea {
  width: 100%;
  border: none;
  border: 1px solid #F7F7F7;
}

.description-textarea:focus {
  box-shadow: 0rem 0rem 5px #ccc;
}

.question-answer-wrapper-save-button {
  border-radius: 0.25rem;
  border: 1px solid #28a745;
  background-color: #28a745;
  padding: 0.8rem 2rem;
  margin: 3rem auto;
  color: white;
  background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
  float: right;
}