.question-result-container {
    position: relative;
    margin: 1% 5%;
}

.question-button {
    padding: 0.8rem;
    float: right;
    margin: 1rem;
    color: white;

}

.view-question-button {
    padding: 0.4rem 1rem;
    color: white;

}

table {
    border: .1px solid #bbb;
    border-collapse: collapse;
    border-spacing: 1rem;
    text-align: center;
    width: 100%;
}

th, td {
    border: .1px solid #bbb;
    padding: 1rem 0rem;
}
