.question-result-container {
    position: relative;
    margin: 1% 5%;
}

.question-button {
    border-radius: 0.25rem;
    border: 1px solid #28a745;
    background-color: #28a745;
    padding: 0.8rem;
    float: right;
    margin: 1rem;
    color: white;
    background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
}

.view-question-button {
    border-radius: 0.25rem;
    border: 1px solid #28a745;
    background-color: #28a745;
    padding: 0.4rem 1rem;
    color: white;
    background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
}

table {
    border: .1px solid #bbb;
    border-collapse: collapse;
    border-spacing: 1rem;
    text-align: center;
    width: 100%;
}

th, td {
    border: .1px solid #bbb;
    padding: 1rem 0rem;
}
