.show-question {
  position: absolute;
  width: 100%;
}

.submit-button {
  padding: 0.8rem 2rem;
  margin: 3rem auto;
  display: table;
  color: white;

}

.question-description {
  display: flex;
  justify-content: center;
}