.feedbackSession-container {
  margin: 2rem 20rem;
}

.feedback-sessions-create-container {
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
}

.feedbackSession-input {
  height: 3rem;
  width: 48rem;
  font-size: 1.5rem;
}

.feedbackSession-button {
  padding: 0 1rem;
}

.feedbackSession-table-body tr:hover {
  background-color: #eff5ff;
  transition: background-color 0.5s ease;
  cursor: pointer;
}