.feedback-container {
  margin: 1rem 18rem;
}

.give-feedback-button-container {
  display: flex;
  justify-content: flex-end;
  height: 3rem;
  margin-bottom: 1rem;
}

.give-feedback-button {
  cursor: pointer;
  padding: 0 1rem;
}