.feedbackSession-container {
  width: 65rem;
  margin: 0 auto;
}

.feedback-sessions-create-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.feedbackSession-input {
  height: 3rem;
  width: 48rem;
  font-size: 1.5rem;
}

.feedbackSession-button {
  padding: 0 1rem;
}