.get-started-button {
    margin: 2rem auto;
    margin-bottom: 6rem;
    display: table;
    padding: 0.8rem 2rem;
    color: white;

}

.login-page-input {
  padding: 0.5rem;
  width: 20rem !important;
}

.login-page-username-div {
  margin: 3rem;
  margin-top: 20rem;
}

.login-page-password-div {
  margin: 3rem;
}

.login-form {
  text-align: left !important;
  margin: 5rem auto;
  display: table;
  border: 1px solid black;
}