.get-started-button {
    margin: 2rem auto;
    display: table;
    padding: 0.8rem 2rem;
    border-radius: 0.25rem;
    border: 1px solid #28a745;
    background-color: #28a745;
    color: white;
    background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
}

.login-page-icon {
    display: table;
    margin: 0rem auto;
}
