* {
  padding: 0;
  margin: 0;
}

.Chupe {
}

.Header {
    display: flex;
    justify-content: space-between;
    background-color: #20232a;
    color: #fff;
    padding: 0.8rem;
    width: 100%;
    text-align: left;
    font-weight: 700;
    font-size: 1.3rem;
}

.Tab {
    padding: .8rem 4rem;
    text-align: center;
    color: white;
    text-decoration: none;
}

.Selected-Tab {
    padding: .8rem 4rem;
    text-align: center;
    color: black;
    background: white;
    text-decoration: none;
}

#menu-logout-container {
    font-size: 1rem;
    font-weight: 100;
    cursor: pointer;
}