@import url("App/styles/utilities.css");
@import url("App/styles/variables.css");

* {
  font-family: Times New Roman, Times, Arial, serif;
}

body {
  background-color: #f4f4f4
}

button {
  background-color: #373737;
  border: 1px solid #373737;
  font-size: 1.2rem;
  cursor: pointer;
  color: #ffffff
}

.button--small {
  padding: 0.8rem 1.5rem;
}

thead tr {
  background-color: #dcd0c0;
  font-size: 1.3rem;
}

.selectable-row:hover {
  background-color: #f9f9f9;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.root-div {
  margin-top: 5rem;
}


table {
  background-color: #ffffff;
  border-collapse: collapse;
  border-spacing: 1rem;
  text-align: center;
  width: 100%;
}

th, td {
  border-bottom: 1px solid #e0e0e0;
  padding: 1rem 0;
}